<table id="task_list">
	<tbody>
	<% for task in current_user.todays_tasks %>
	<tr class="task_item">
		<td width="100px"><%= task.start.to_s(:short) %></td>
		<td width="860px"><%= link_to task.notes, edit_task_path(task) %></td>
	</tr>
	<% end %>
	</tbody>
</table>