body {
	font-family: 'Lucida Grande', sans-serif;
	font-size: .85em;
}

.caption {
	font-size: .85em;
	color: #999;
}

#navlist li
{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

#flash-messages {
	height: 50px;
}

#logo {
	height: 26px;
}

#task_notes {
	height: 100px;
	width: 800px;
}

#new_task textarea {
	-x-system-font:none;
	font-family:'Lucida Grande',sans-serif;
	font-size:1.15em;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	height:4.5em;
	line-height:1.1;
	overflow:auto;
	padding:5px;
	width:578px;
	margin-bottom: 0px;
}

/* */

tfoot tr td {
	padding-left: 0px;
	padding-right: 0px;
	font-style: normal;
}

tr.task_item {
}

tr.task_item td {
	border-bottom: 1px solid #ccc;
	vertical-align: top;
	padding: 7px 0px;
	line-height: 1.55em;
}

/* Summary Table */
table#summary {
	border-collapse: collapse;
}

table#summary td {
	border: 1px solid #ccc;
}

table#summary tr#ptt {
	height: 80px;
}


#task-submit-button {

}

#task-meta-info {
	height:30px;
	line-height:30px;
	margin-bottom:20px;
	margin-top: 7px;
}

#current-task-meta-info {
	margin-top: 5px;
}

#task-notes-wrap {
	margin-bottom: 0px;
}

#clock {
	color: #999;
}

#start-wrap {
	height: 50px;
}

a#toggle-start {
	
}

input#task_start{
	margin: 3px 0px 0px 0px;
}

/* thanks to u-haul.com for the button styling */
.submit_button {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#F1D45E url(https://www.uhaul.com/images/buttons/button.jpg) repeat-x scroll center center;
	border-color:#DDDDDD #555555 #333333 #BBBBBB;
	border-style:solid;
	border-width:1px;
	color:#000000 !important;
	cursor:pointer;
	display:inline-block;
	font-family:Arial,Helvetica,sans-serif;
	font-weight:bold;
	font-size:1.1em;
	overflow:visible;
	padding:0.25em 0.5em;
	text-decoration:none;
	width:auto;
}

/* Forms */
input[type=text].short {
	font-size:1.3em;
	padding:4px;
	width:200px;
}

input[type=text].smaller_short {
	font-size:1em;
	padding:4px;
	width:200px;
}


input[type=text].medium {
	font-size:1.3em;
	padding:4px;
	width:350px;
}

input[type=text].long {
	font-size:1.3em;
	padding:4px;
	width:500px;
}

select {
	font-size:1.2em;
	padding:4px;
	width:350px;
}