body {
	font-family: 'Lucida Grande', sans-serif;
	font-size: .85em;
}

#navlist li
{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

#flash-messages {
	height: 50px;
}

#logo {
	height: 195px;
}

#task_notes {
	height: 100px;
	width: 800px;
}

#new_task textarea {
	-x-system-font:none;
	font-family:'Lucida Grande',sans-serif;
	font-size:1.15em;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	height:4.5em;
	line-height:1.1;
	overflow:auto;
	padding:5px;
	width:585px;
}

/* */

tfoot tr td {
	padding-left: 0px;
	padding-right: 0px;
	font-style: normal;
}

tr.task_item {
}

tr.task_item td {
	border-bottom: 1px solid #ccc;
	vertical-align: top;
	padding: 7px 0px;
	line-height: 1.55em;
}

/* Summary Table */
table#summary {
	border-collapse: collapse;
}

table#summary td {
	border: 1px solid #ccc;
}

table#summary tr#ptt {
	height: 80px;
}